.text-color-绿色 {
    color: #00910c;
}
.text-color-红色 {
    color: #b70303;
}
.text-color-黑色 {
    color: black;
}
.text-color-白色 {
    color: white;
}
.text-color-灰色 {
    color: #afafaf;
}
.text-color-褐色 {
    color: #934301;
}
.text-color-蓝色 {
    color: #006891;
}
.text-color-粉色 {
    color: #FF4466;
}
